:host {
    --image-height: 150px;
}

.service-image-container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.service-image {
    height: var(--image-height);
    width: 100%;
}

.service-image::part(image) {
    width: 100%;
    height: var(--image-height);
    object-fit: cover;
}

.service-name {
    font-weight: bold;
    margin-top: 8px;
}