<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Filtrar por data</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime presentation="date-time" [(ngModel)]="dataFiltro" id="datetime" (ionChange)="onDataChange()"
              [formatOptions]="{
                date: {
                  weekday: 'short',
                  month: 'long',
                  day: '2-digit',
                },
                time: {
                  hour: '2-digit',
                  minute: '2-digit',
                },
              }"></ion-datetime>
          </ng-template>
        </ion-modal>

      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Agendamentos</ion-label>
    </ion-list-header>

    <ion-item *ngIf="agendamentos.length === 0 && !carregando">
      <ion-label class="ion-text-center">
        Nenhum agendamento encontrado para esta data.
      </ion-label>
    </ion-item>

    <ion-item-sliding *ngFor="let agendamento of agendamentos">
      <ion-item (click)="abrirFormulario(agendamento)">
        <ion-avatar slot="start">
          <img [src]="agendamento.imagem" />
        </ion-avatar>
        <ion-label>
          <h3>{{ agendamento.nome_servico }} - R$ {{ agendamento.preco}}</h3>
          <p>Horário: {{ agendamento.hora_reserva }}</p>
        </ion-label>
        <ion-badge [color]="getStatusColor(agendamento.status)" slot="end">
          {{ agendamento.status }}
        </ion-badge>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option *ngIf="agendamento.status === 1" color="success" (click)="concluirAgendamento(agendamento.id)">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-item-option>
        <ion-item-option *ngIf="agendamento.status === 1" color="danger" (click)="confirmarCancelamento(agendamento)">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-refresher slot="fixed" (ionRefresh)="carregarAgendamentos(); $event.target.complete()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirFormulario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>