<ion-header [translucent]="true" id="header">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="showMenuButton">
      <ion-menu-button auto-hide="false" (click)="openEnd()" class="desktop"></ion-menu-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="showBackButton">
      <ion-back-button [defaultHref]="defaultBackUrl" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="close()" *ngIf="showCloseButton">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="closeModal()" *ngIf="showCloseModal">
      <ion-icon name="close"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="showSetttingButton">
      <ion-button (click)="openSettings()" color="light">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{title || 'Tammy Beleza'}}</ion-title>
  </ion-toolbar>
</ion-header>