.login-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.logo-container {
    margin-bottom: 20px;
}