<ion-list id="inbox-list">
  <ion-list-header>
    <ion-row>
      <ion-col size="12">Salão</ion-col>
    </ion-row>
  </ion-list-header>
  <ion-note>
    <a href="mailto:" class="withoutLink"></a>
    <p> {{empresa}}</p>
  </ion-note>

  <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" type="push">
    <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
      <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
      <ion-label>{{ p.title }}</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>
<ion-list>
  <ion-list-header>Administrativo</ion-list-header>
    <ion-menu-toggle auto-hide="false" *ngFor="let item of menu; let i = index" type="push">
      <ion-item routerDirection="root" [routerLink]="[item.url]" lines="none" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" [ios]="item.icon + '-outline'" [md]="item.icon + '-sharp'"></ion-icon>
        <ion-label>{{ item.title }}</ion-label>
      </ion-item>
  </ion-menu-toggle>
</ion-list>
<ion-list>
  <ion-list-header>Opções</ion-list-header>
  <ion-item lines="none" (click)="logoutAlert()">
    <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
    <ion-label>Logout</ion-label>
  </ion-item>
</ion-list>