<ion-app>
  <ion-content>
    <ion-tabs>
      <ion-tab tab="home">
        <div id="home-page">
          <ion-header>
            <ion-toolbar>
              <ion-title>Home</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <div class="example-content">Home</div>
          </ion-content>
        </div>
      </ion-tab>
      <ion-tab tab="servicos">
        <div id="servicos-page">
          <ion-header>
            <ion-toolbar>
              <ion-title>Serviços</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <div class="example-content">Serviços</div>
          </ion-content>
        </div>
      </ion-tab>
      <ion-tab tab="perfil">
        <div id="perfil-page">
          <ion-header>
            <ion-toolbar>
              <ion-title>perfil</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-router-outlet></ion-router-outlet>
          </ion-content>
        </div>
      </ion-tab>

      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="servicos">
          <ion-icon name="id-card-outline"></ion-icon>
          Serviços
        </ion-tab-button>
        <ion-tab-button tab="perfil">
          <ion-icon name="person-circle-outline"></ion-icon>
          Perfil
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</ion-app>